
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Baloo', cursive;
    background-color:chocolate;
}

#container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

ul {
    font-size: 2rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

form {
    width: 50%;
    margin: 0 auto;
}

form label {
    font-size: 1.5rem;
    margin-left: 8rem;
}

#guess {
    font-size: 1.2rem;
    height: 2rem;
    width: 5rem;
    text-align: center;
    margin-left: 0.5rem;
}

.guessSubmit {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 30%;
    background-color: forestgreen;
    border-radius: 0.5rem;
    border: 0.1rem solid forestgreen;
    box-shadow: 2px 2px 5px #111;
}

.output {
    width: 40%;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: 1.2;
}

button {
    background-color: darkred;
    width: 10%;
    height: 3rem;
    margin-left: 40%;
    border-radius: 0.5rem;
    border: 0.1rem solid darkred;
    box-shadow: 2px 2px 5px #111;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
}

